input {
  margin: 0;
  padding: .2%;

}
.odd {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: lightblue;
  color: darkgreen;
  border: 2px solid black;
  margin: .5%;
}
.even {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: yellow;
  color: darkpurple;
  border: 2px solid black;
  margin: .5%;

}
